<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="filipivanov.kraken">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/starticon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/title_activity_splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"></activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"></activity>
        <activity
            android:name=".OrderActivity"
            android:label="@string/title_activity_order"></activity>
        <activity
            android:name=".CustomerActivity"
            android:label="@string/title_activity_customer"></activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"></activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"></activity>
        <activity
            android:name=".OrderDoneActivity"
            android:label="@string/title_activity_order_done"></activity>
        <activity
            android:name=".PopulateMenuActivity"
            android:label="@string/title_activity_populate_menu"></activity>
        <activity
            android:name=".SelectCustomerActivity"
            android:label="@string/title_activity_select_customer"></activity>
        <activity
            android:name=".SelectPaymentMethodActivity"
            android:label="@string/title_activity_payment_method"></activity>
    </application>

</manifest>
